	<!-- 警告框 开始-->
	<div id="alertTpl" role="alert" class="alert alert-info alert-dismissible fade in" style="display:none;">
      <button aria-label="Close" data-dismiss="alert" class="close" type="button"><span aria-hidden="true">×</span></button>
      <strong></strong><span class="alert_msg_body"></span>
    </div>
    <!-- 警告框 结束-->
	<script src="__PUBLIC__/Js/jquery.min.js"></script>
	<script src="__PUBLIC__/Js/bootstrap.min.js"></script>
	<script src="__PUBLIC__/Js/mustache.min.js"></script>
	<script src="__PUBLIC__/Js/bottom.js"></script>
</body>
</html>