<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<title>[title]</title>
	<link href="__PUBLIC__/Css/bootstrap.min.css" rel="stylesheet">
	<link href="__PUBLIC__/Css/style.css" rel="stylesheet">
	<script src="__PUBLIC__/Js/top.js"></script>
</head>
<body>
	<div class="container header">
		<h4><a href="javascript:history.go(-1);" class="pull-left"><span class="glyphicon glyphicon glyphicon-menu-left" aria-hidden="true"></span></a> [title]</h4>
	</div>